<a href="https://colab.research.google.com/github/ringolove/Paik_Sensei_Test_1/blob/main/%EC%96%B4%EC%9D%B4%EB%B0%B1%EC%A4%80%EC%9D%B42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.

##10952

In [ ]:
while True:
  a, b = map(int, input().split())
  if a==0 and b==0:
    break
  else:
    print(a+b)

1 3
4
5 7
12
5 8
13
12 7
19
456 78
534
0 0

##10951

In [ ]:
try:
  while True:
      a, b = map(int, input().split())
      print(a+b)
except:
  exit()

0

##1110

In [ ]:
n = int(input())
num = n
count = 0
while True:
  a = num//10
  b = num%10
  c = (a+b)%10
  num = (b*10) + c

  count += 1
  if num == n:
    break

print(count)

1
60

##10818

In [ ]:
t = int(input())
nums = list(map(int, input().split()))
print(min(nums),max(nums))

5
1 2 3 4 5 56 6
1 56

In [ ]:
t = int(input())
nums = list(map(int, input().split()))
max = nums[0]
min = nums[0]

for i in nums[1:]:
    if i > max:
        max = i
    elif i < min:
        min = i

print(min,max) #정답인데 갓코랩에서만 오류 나옴^^​

SyntaxError: ignored

##2562

In [ ]:
t = [int(input()) for i in range(9)]
print(str(max(t))+'\n'+str((t.index(max(t)))+1))

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
t = list(map(int, input().split()))
print(t.index(max(t)))

1 3 5 8 4 8 9
6

##2577

In [ ]:
a = int(input())
b = int(input())
c = int(input())
t = list(str(a*b*c))
ans = [0,0,0,0,0,0,0,0,0,0]

for i in t:
  ans[int(i)] += 1

for i in ans:
  print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0